:host {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.search-view {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    
    .search-input-container:first-child>* {
        height: 35px;
        box-sizing: border-box;
        background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
        color: white;
        border: 1px solid rgb(117, 117, 117);
        border-radius: .25rem;
        &::placeholder {
            color: rgb(187, 187, 187)
        }
    }
    .search-input-container {
        display: flex;
        gap: .25rem;
        &>input {
        padding: 0 1rem;
    }
    }
    button {
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(.95);
        }
    }
}

.search-history-container {
    border: 1px solid rgb(117, 117, 117);
    border-radius: .25rem;
    background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
    min-width: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: .5rem;
    align-items: flex-end;
    font-weight: bold;
    padding: .25rem;
    transition: margin-right .25s;
    transition: transform .5s;

    #collapseIcon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -20px;

        transition: rotate .4s;
    }
    & a, &>span.search-history-title {
        width: 100%;
        justify-content: end;
        // transition: width 0.6s;
        // overflow: hidden;
        // text-wrap: nowrap;
    }

    //When the menu is hidden
    &.hide {
        min-width: unset;
        transform: translateX(calc(100% + .5rem));

        #collapseIcon {
            display: block;
            rotate: 180deg;
        }
        & a {
            // width: 0px;
            // display: none;
        }
        &>span.search-history-title {
            // width: 0px;
            // display: none;
        }
    }

    &>span.search-history-title {
        display: flex;
        text-decoration: underline;
        height: 20px;
        align-items: center;
        gap: .25rem;

        &>svg {
            cursor: pointer;
            height: 15px;
            width: 15px;
        }
    }

    & a {
        display: flex;
        cursor: pointer;
        // text-decoration: underline;
        height: 20px;
        align-items: center;
        gap: .25rem;
        font-size: 12px;

        &>svg {
            cursor: pointer;
            height: 15px;
            width: 15px;
        }
    }
}

.result-view {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .image-container {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        min-height: 0;
        min-width: 0;
        width: 80%;
        img {
            margin: 0 5px;
            max-height: 500px;
            max-width: 50%;
        }
    }
}
.copy-container {
    display: flex;
    gap: 1rem;
    width: 80%;

    .copy-image-wrapper {
        display: flex;
        gap: .5rem;
    }

    .copy-view {
        position: relative;
        // margin: 1rem 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-grow: 1;
        justify-content: center;
        font-weight: bold;

        textarea {
            padding: .5rem;
            width: 100%;
            position: relative;
            border: 1px solid rgb(117, 117, 117);
            border-radius: .25rem;
            outline: none;
            resize: none;
            box-sizing: border-box;
            background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
            color: white;
        }
        button {
            position: absolute;
            bottom: .125rem;
            right: .125rem;
            background-color: white;
            border: none;
            border-radius: .25rem;
            padding: .25rem;
            &:hover {
                cursor: pointer;
                background-color: #e7e7e7;
            }
            &:active{
                transform: scale(.95);
            }
        }
    }
}