:host {
    display: flex;
    margin: 0 2rem;
    flex-direction: column;
}
* {
    font-family: inherit;
}
.search-view {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-grow: 1;
    
    .search-input-container:first-child>* {
        height: 35px;
        box-sizing: border-box;
        // background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
        background: hsl(241, 10%, 4% / 1);
        color: white;
        border: 1px solid #27272a;
        border-radius: .25rem;
        &::placeholder {
            color: rgb(187, 187, 187)
        }
    }
    .search-input-container {
        display: flex;
        gap: .25rem;
        &>input {
        padding: 0 .5rem;
    }
    }
    button {
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(.95);
        }
    }
}

.search-history-container {
    top: 10px;
    border: 1px solid #27272a;
    border-radius: .5rem;
    background: hsl(240 5% 10% / 0.8);
    backdrop-filter: blur(8px);
    min-width: 150px;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: .5rem;
    padding: 1rem;
    transition: margin-right .25s;
    transition: transform .5s ease;

    #collapseIcon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -20px;

        transition: rotate .6s ease;
    }
    & a, &>span.search-history-title {
        width: 100%;
        justify-content: end;
    }

    //When the menu is hidden
    &.hide {
        min-width: unset;
        transform: translateX(calc(100% + .5rem));

        #collapseIcon {
            display: block;
            rotate: 180deg;
        }
    }

    &>span.search-history-title {
        display: flex;
        height: 20px;
        align-items: center;
        gap: .25rem;
        margin-bottom: .5rem;
        font-weight: bolder;

        .clear-history-btn {
            display: inline-flex;
            align-items: center;
        }

        &>*>svg {
            cursor: pointer;
            height: 15px;
            width: 15px;
        }
    }

    & a {
        display: flex;
        cursor: pointer;
        height: 20px;
        align-items: center;
        gap: .25rem;
        font-size: 12px;

        &>svg {
            cursor: pointer;
            height: 15px;
            width: 15px;
        }
    }
}

.result-view {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    // align-items: center;
    border: 1px solid #27272a;
    border-radius: 0.5rem;
    padding: 1rem;
    // background-color: color-mix(in oklab, oklch(100% 0 0 / 0.15) 30%, transparent);
    // width: 100%;
    .image-container {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem auto;
        min-height: 0;
        min-width: 0;

        border: 1px solid #27272a;
        border-radius: .5rem;
        background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
        // width: 80%;
        padding: 2rem;
        img {
            max-height: 500px;
            max-width: 50%;
        }
    }
}
.copy-container {
    display: flex;
    gap: 1rem;
    // width: 80%;
    flex-grow: 1;
    min-width: 0px;
    border: 1px solid #27272a;
    border-radius: 0.5rem;
    // background-color: color-mix(in oklab, oklch(100% 0 0 / 0.15) 30%, transparent);
    padding: 1rem;
    .copy-image-wrapper {
        display: flex;
        gap: .5rem;
    }

    .copy-view {
        position: relative;
        // margin: 1rem 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-grow: 1;
        justify-content: center;
        font-weight: bold;
        gap: .5rem;

        textarea {
            font-size: 9pt;
            padding: .5rem;
            width: 100%;
            position: relative;
            border: 1px solid #27272a;
            border-radius: .25rem;
            outline: none;
            resize: none;
            box-sizing: border-box;
            background-color: color-mix(in oklab, oklch(100% 0 0 / .15) 30%, transparent);
            color: white;
        }
        button {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            background-color: white;
            border: none;
            border-radius: .25rem;
            padding: .25rem;
            &:hover {
                cursor: pointer;
                background-color: #e7e7e7;
            }
            &:active{
                transform: scale(.95);
            }
        }
    }
}